<!DOCTYPE html>
<html lang="en">
<head>
    @include('includes.head')
    {{style('dashboard')}}
    {{style('login')}}
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="bg-dark">
            <div class="sidebar-header">
                <h5>Bootstrap Sidebar</h5>
            </div>
    
            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
    
        </nav>
        <!-- Page Content -->
        <section id="content">
    
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
    
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>

            <div class="container-fluid">
                
                <div class="card bg-dark mb-5">
                    <div class="card-header text-light">
                        <i class="fas fa-video mr-2"></i>Add Media
                    </div>
                    <div class="card-body">
                        
                            <!--  <div class="card-title p-2">
                                <h4 class="text-uppercase"><i class="fas fa-play-circle"></i> Add media</h4>
                                <div class="text-muted small">@channelmyanmar</div>
                            </div>  -->
                            <div class="form-wrapper mt-4 mb-4">
                                <ul class="nav nav-tabs bg-dark">
                                    <li class="active text-center">
                                        <a href="#movie" class="text-white" data-toggle="tab"><i class="fas fa-film mr-1"></i>Movies</a>
                                    </li>
                                    <li class="text-center">
                                        <a href="#tv_show" class="text-white" data-toggle="tab"><i class="fas fa-tv mr-1"></i>TV Shows</a>
                                    </li>
                                </ul>
                                

                                <div class="tab-content mt-1 p-2">
                                    <form id="movie" class="tab-pane show active">

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="title" class="font-weight-normal">Movie Title</label>
                                                    <input placeholder="Name of the movie" name="title" class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="title" class="font-weight-normal">Google Drive File</label>
                                                    <input placeholder="Google drive export file" name="drive" class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="size" class="font-weight-normal">Size</label>
                                                    <input placeholder="Media size" name="size" class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="size" class="font-weight-normal">Audio</label>
                                                    <select class="form-control">
                                                        <option>2.1 Channels</option>
                                                        <option>5.1 Channels</option>
                                                        <option>7.1 Channels</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="size" class="font-weight-normal">Subtitle</label>
                                                    <select class="form-control">
                                                        <option class="p-1">Burmese</option>
                                                        <option class="p-1">English</option>
                                                        <option class="p-1">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end mt-4">
                                            <button class="btn btn-info font-weight-light">
                                                <i class="fas fa-check mr-1"></i>Submit
                                            </button>
                                        </div>
                                    </form>

                                    <form id="tv_show" class="tab-pane login100-form validate-form pb-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="wrap-input100 validate-input m-b-26 mr-4" data-validate="Username is required">
                                                        <span class="label-input100">Series Title</span>
                                                        <input class="input100" type="text" name="title" placeholder="Enter series title">
                                                        <span class="focus-input100"></span>
                                                    </div>
                                                </div>
                                                <div class="col-4 offset-2">
                                                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                                        <span class="label-input100">Episode No</span>
                                                        <input class="input100" type="number" name="title" placeholder="Enter episode no">
                                                        <span class="focus-input100"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                                <span class="label-input100">Series Title</span>
                                                <input class="input100" type="text" name="title" placeholder="Enter series title">
                                                <span class="focus-input100"></span>
                                            </div>
                        
                                            <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                                                <span class="label-input100">File location</span>
                                                <input class="input100" type="text" name="location" placeholder="Enter drive url">
                                                <span class="focus-input100"></span>
                                            </div>
                                
                                            <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                                                <span class="label-input100">Size</span>
                                                <input class="input100" type="text" name="size" placeholder="Enter file size">
                                                <span class="focus-input100"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                                                <span class="label-input100">Encoded by</span>
                                                <input class="input100" type="text" name="size" placeholder="Enter encoder name">
                                                <span class="focus-input100"></span>
                                            </div>
                                        
                                        
                                            <div class="wrap-input100 validate-input m-b-18 border-bottom-0" data-validate = "Password is required">
                                                <span class="label-input100">Resolution</span>
                                                <select class="form-control rounded-0">
                                                    <option>1080p</option>
                                                    <option>720p</option>
                                                    <option>480p</option>
                                                </select>           
                                            </div>

                                            <div class="wrap-input100 validate-input m-b-18 border-bottom-0" data-validate = "Password is required">
                                                <span class="label-input100">Audio</span>
                                                <select class="form-control rounded-0">
                                                    <option>2.1 Channels</option>
                                                    <option>5.1 Channels</option>
                                                    <option>7.1 Channels</option>
                                                </select>           
                                            </div>
                                            
                                            
                                            <div class="wrap-input100 validate-input m-b-18 border-bottom-0" data-validate = "Password is required">
                                                <span class="label-input100">Subtitle</span>
                                                <select class="form-control rounded-0">
                                                    <option>Burmese</option>
                                                    <option>English</option>
                                                    <option>Others</option>
                                                </select>           
                                            </div>
                                            
                                        

                                        <div class="d-flex justify-content-end mt-4">
                                            <button class="btn btn-info font-weight-light">
                                                <i class="fas fa-check mr-1"></i>Submit
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            
                        
                    </div>
                </div>
            </div>

        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        $(document).ready(function () {

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        });
    </script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</body>
</html>