<!DOCTYPE html>
<html lang="en">
<head>
    @include('includes.head')
    @!section('extracss')
</head>
<body>
    <header>
        <div class="header-container isFixed">
            @include('includes.navbar')
        </div>        
    </header>

    <div class="content" id="content">
        @!section('content')
    </div>

    @!section('scripts')
</body>
</html>