.navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-size: 1.25rem;
}

.text-trans {
    color: rgba(255,255,255,0.7)!important;
}
.app-header {
    border-bottom: 1px solid #383838!important;
}
.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
}

.app-header .dropdown-header {
    padding: 8px 20px;
/*     background: #343b41;
    border-bottom: 1px solid #23282c; */
}

.app-header .dropdown-item {
    position: relative;
    padding: 10px 20px;
/*     border-bottom: 1px solid rgba(25, 25, 25, 0.63); */
}
.app-header .dropdown-item:hover {
    background-color: rgba(23, 162, 184, 0.1);
}
.img-avatar, .avatar>img, .img-circle {
    max-width: 100%;
    height: auto;
    border-radius: 50em;
}

.app-header .nav-item .nav-link>.img-avatar, .app-header .nav-item .avatar.nav-link>img {
    height: 35px;
    margin: 0 10px;
}
.app-header .nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    background: 0;
    border: 0;
}
.app-header .nav-item .nav-link .badge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 54px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 15px 20px;
    background: var(--info);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 0.9rem;
    display: block;
    color: rgba(255,255,255,0.7);
}
#sidebar ul li a:hover {
    color: #f8f9fa;
    background: #212121;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgba(226, 226, 226, 0.24);/* #6d7fcc; */
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(226, 226, 226, 0.24);/* #6d7fcc; */
}

.ul-folder {
    background: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#content {
    width: calc(100% - 250px);
    /* padding: 40px; */
    padding-top: 0px;
    min-height: calc(100vh - 54px);
    transition: all 0.3s;
    position: absolute;
    top: 54px;
    right: 0;
    background-image: url(https://livedemo00.template-help.com/wt_55018/images/parallax1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#content.active {
    width: 100%;
}

.breadcrumb.subheader {
    padding: 15px 20px;
    border-bottom: 1px solid #383838!important;
}

.navbar {
    /* padding: 15px 10px; */
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

#content > .container-fluid{
    padding: 0 30px;
}

/* card components */
.text-value{
    font-size: 2rem;
}


.nav-tabs {
    border: none;
    background: #262e35;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 360px;
}

.nav-tabs > li {
    padding: 1rem;
    width: 50%;
    color: rgba(255,255,255,0.5);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
.nav-tabs > li.active {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255,255,255,1);
}

.sort_by{
    font-size: 80%;
}

.bg-dark{
    background-color: #212529!important
}

.media-table{
    display: block;
    font-size: 0.9rem;
}

.media-table > tbody{
    width: 100%;
    display: block;
}
.t-head{
    background-color: rgba(255, 255, 255, 0.1);
}
.t-row {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
}
.t-row:not(.t-head):hover{
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(255,255,255,0.2), 0 0 4px 0 rgba(95,99,104,.6), 0 0 6px 2px rgba(95,99,104,.6);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.t-row:not(.t-head):hover > td.action-wrapper{
    display: flex;
}

.t-row:not(.t-head):hover > td.td-timestamp{
    display: none;
}
td.icon {
    flex-basis: 30px;
    max-width: 30px;
    transition: color 0.2s ease;
}
.t-row:not(.t-head):hover > td.icon {
    color: #fff!important;
}
table.media-table td {
    border-color: rgba(255, 255, 255, 0.05);
    color: rgba(255,255,255,0.70)
}

td.id {
    flex-basis : 50px;
    max-width: 50px;
}
td.size {
    flex-basis: 80px;
    max-width: 80px;
}
td.title{
    flex-basis: 400px;
    max-width: 400px;
    padding-right: 32px;
}

td.title > div {
    display: flex;
    flex-grow: 1;
}

td.year ,td.resolution, td.audio, td.size, td.views, td.timestamp {
    display: flex;
    flex: 1 1 auto;
}

td.year, td.resolution, td.audio{
    flex-basis: 80px;
    max-width: 80px;
}

.td-timestamp {
    /* max-width: 56px; */
    /* flex-basis: 56px; */
    /* letter-spacing: 0.4px; */
}

.action-wrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.btn-action{
    background-color: transparent;
    padding: 0 0.375rem;
    transition: all 0.2s ease;
}

.btn-action:hover{
    color: var(--light)!important;
}

.select-transparent{
    background: transparent!important;
    border: none;
}

.select-transparent > option {
    background: var(--secondary)
}

.btn-transparent {
    background-color: transparent;
}


.input100.form-control{
    border: none;
    border-radius: 0;
}
.input100.form-control:focus {
    background-color: transparent;
    box-shadow: none;
}

.input100.form-control:invalid:focus {
    background-color: transparent;
    box-shadow: none;
}
.input100.form-control:valid:focus {
    background-color: transparent;
    box-shadow: none;
}

.paginate a.page-link {
    background: #1d1e20;
    color: rgba(255, 255, 255, 0.68);
    border-color: #17a2b826;
    font-size: 0.9rem;
}

.paginate .page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.paginate a.page-link:hover{
    color: #fff;
}


/*CSS FOR TMDB AUTOCOMPLETE*/

.dark-scrollbar::-webkit-scrollbar-track
{
    background-color: #d4d4d4;
}

.dark-scrollbar::-webkit-scrollbar
{
    width: 15px;
    /*background-color: #F5F5F5;*/
}

.dark-scrollbar::-webkit-scrollbar-thumb
{
    min-height: 50px;
    background-color: hsla(0, 0%, 0%, 0.33);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}
        
.title-input-container{
    position: relative;
}
.autocomplete-container{
    position: absolute;
    margin-top: 4px;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    display: none;
    font-size: 13px;
    background: #efefef;
    color: #000;
    border-radius: 0.4rem;
    border: 1px solid #4a4a4a;
    padding: 6px;
    z-index: 100;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.32);
}
.search-text-display {
    padding: 10px 4px;
    font-weight: 400;
}
.search-icon {
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 0.8rem;
    padding: 2px 12px;
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(225,225,225,0.5);
}
.autocomplete-item{
    display: block;
    color: #d0d0d0;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.autocomplete-item:hover{
    /* color: #fff; */
    text-decoration: none;
    background-color: #dce0e0;
}
.autocomplete-list{
    padding: 0;
    list-style: none;
}
.autocomplete-list-item{
    margin-top: 2px;
    margin-bottom: 5px;

}
.autocomplete-display-holder{
    display: flex;
}
.list-item-block{
    display: inline-flex;
}
.list-item-block.poster{
    width: 60px;
    height: 80px;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    border-radius: .25rem;
    /*background-image: url('http://image.tmdb.org/t/p/w92/hU0E130tsGdsYa4K9lc3Xrn5Wyt.jpg')*/
}
.list-item-block.text{
    display: block;
    margin-left: 8px;
    font-weight: 300;
}
.list-item-block.text .title{
    font-weight: 300;
}

.list-item-block.text .year{
    font-weight: 300;
    color: rgba(225,225,225,0.4)
}