<section class="sub-header">
    <div class="container text-center">
        <ul class="inline-list inline-list--nav text-uppercase">
            <li>
                <a href="#metadata">How to Download</a>
            </li>
            <li>
                <a href="#metadata">Watch</a>
            </li>
            <li><a href="#metadata">Movies</a></li>
            <li><a href="#metadata">Series</a></li>
        </ul>
    </div>
</section>